# Created by https://www.gitignore.io/api/common,linux,commonlisp

#!! ERROR: common is undefined. Use list command to see defined gitignore types !!#

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*


### CommonLisp ###
*.FASL
*.fasl
*.lisp-temp